

*{
	margin: 0;
	padding: 0;
}


body{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #333;
	background: #fff;
}

a{
	text-decoration: none;
}


ol,ul{
	list-style: none;
}


img{
	border: none;
	display: block;
}


#header{
	width: 100%;
	height: 30px;
	background: url('images/header_bg.png');
	background-size: 100% 100%;
}

#header .logo{
	width: 100px;
	height: 30px;
	float: left;
	margin-left: 10%;
}


#header .logo img{
	width: 100%;
	height: 100%;
}

#header .member{
	width: 70px;
	height: 30px;
	line-height: 30px;
	float: right;
	margin-right: 10%;
	background: url('images/arrow.png') no-repeat 90% center;
	cursor: pointer;
	position: relative;
}

#header .member:hover{
	background: url('images/arrow2.png') no-repeat 90% center;
}

#header ul{
	position: absolute;
	top: 30px;
	left: -15px;
	width: 100px;
	height: 0px;
	border: #ccc solid 1px;
	border-top: none;
	overflow: hidden;
	display: none;
	opacity: 0;
	filter: alpha(opacity=0);
}
#header ul li a{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #333;
	text-indent: 20px;
	letter-spacing: 1px;
	background: #fbf7E1 url('images/arrow3.gif') no-repeat 5px center;
}

#header ul li a:hover{
	background: #fc0 url('images/arrow4.gif') no-repeat 5px center;
}

#header .login,#header .reg{
	float: right;
	line-height: 30px;
	letter-spacing: 2px;
	cursor: pointer;
}

#header .login{
	margin-right: 20px;
}

#header .login:hover,#header .reg:hover{
	color: maroon;
}

#header p{
	float: right;
	line-height: 30px;
}



#login{
	width: 350px;
	height: 250px;
	border: #ccc solid 1px;
	position: absolute;
	z-index: 999;
	background: #fff;
	display: none;
}

#login h2{
	height: 40px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 14px;
	color: #666;
	background: url('images/login_header.png');
	cursor: move;
	position: relative;
	margin-bottom: 25px;
}

#login h2 img{
	position: absolute;
	right: 10px;
	top: 8px;
	cursor: pointer;
}

#login input.text{
	width: 200px;
	height: 25px;
	border: #ccc solid 1px;
	background: #fff;
	font-size: 14px;
	color: #666;
	text-indent: 10px;
}

#login input.submit{
	width: 107px;
	height: 30px;
	background: url('images/login_button.png') no-repeat 0 0;
	border: none;
	cursor: pointer;
}

#login p{
	font-size: 14px;
	color: #666;
	text-align: center;
	margin-bottom: 20px;
}

#login p.other{
	text-align: right;
	margin-right: 10px;
}

#login p.other a{
	color: #666;
	font-size: 12px;
}

#login p.other a:hover{
	color: red;
}


#screen{
	position: absolute;
	z-index: 998;
	top: 0;
	left: 0;
	background: red;
	opacity: 0;
	filter: alpha(opacity=0);
	display: none;
}




#share{
	width: 210px;
	height: 315px;
	border: #ccc solid 1px;
	position: absolute;
	left: -211px;
	background-color: #fff;
}

#share h2{
	height: 30px;
	line-height: 30px;
	background: #eee;
	font-size: 14px;
	color: #666;
	text-indent: 10px;
}

#share ul{
	padding: 3px 0px 2px 5px;
	overflow: hidden;
}

#share ul li{
	width: 96px;
	height: 28px;
	padding: 2px;
	float: left;
}

#share ul li a{
	display: block;
	width: 95px;
	height: 26px;
	line-height: 26px;
	text-indent: 30px;
	color: #666;
	background-image: url('images/share_bg.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

#share ul li a:hover{
	color: #06f;
	opacity: 0.7;
	filter: alpha(opacity=70);
	background-color: #eee;
}

#share ul li a.a{
	background-position: 5px 5px;
}
#share ul li a.b{
	background-position: 5px -25px;
}
#share ul li a.c{
	background-position: 5px -55px;
}
#share ul li a.d{
	background-position: 5px -85px;
}
#share ul li a.e{
	background-position: 5px -115px;
}
#share ul li a.f{
	background-position: 5px -145px;
}
#share ul li a.g{
	background-position: 5px -175px;
}
#share ul li a.h{
	background-position: 5px -205px;
}

#share ul li a.i{
	background-position: 5px -235px;
}
#share ul li a.j{
	background-position: 5px -265px;
}
#share ul li a.k{
	background-position: 5px -295px;
}
#share ul li a.l{
	background-position: 5px -325px;
}
#share ul li a.m{
	background-position: 5px -355px;
}
#share ul li a.n{
	background-position: 5px -385px;
}
#share ul li a.o{
	background-position: 5px -415px;
}
#share ul li a.p{
	background-position: 5px -445px;
}




#share .share_footer{
	height: 26px;
	background: #eee;
	position: relative;
}

#share .share_footer a{
	cursor: pointer;
	padding-left: 13px;
	color: #666;
	background: #eee url('images/share_bg.png') no-repeat 0 -475px;
	position: absolute;
	top: 7px;
	left: 140px;
}

#share .share_footer a:hover{
	color: #06f;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

#share .share_footer span{
	display: block;
	width: 24px;
	height: 88px;
	position: absolute;
	top: -200px;
	left: 210px;
	background: url('images/share.png') no-repeat;
	cursor: pointer;
}





#box{
	width: 100px;
	height: 100px;
	background: red;
	position: absolute;
	top: 200px;
	left: 200px;
}





























































